* {
    color:white;
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-align: center;
    text-decoration: none; 
}

.haiku {
    font-size:4em
}

.credit {
    font-size 3.5em
}

body {
    background-color: black;
}

.top {
    font-size:6em;
    vertical-align:top;
}

.button {
    font-size:1.5em;
}
.onedolla {
    font-size:1em;
}
.twodolla {
    font-size:1.6em;
}
.threedolla {
    font-size:2.2em;
}
.fourdolla {
    font-size:2.8em;
}
.fivedolla {
    font-size:3.4em;
}
/*
    1.6
    2.2
    2.8
    3.4
    4
    4.6
    */


.warning {
    font-size:4em
}

.special {
    font-size:2em;
    color:coral
}