* {
    color:white;
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-align: center;
    text-decoration: none; 
}

body {
    background-color: black;
}

.top {
    font-size:6em;
    vertical-align:top;
}

.button {
    font-size:1.5em;
}

.tier2 {
    font-size:3em;
    
}
.tier1 {
    font-size:1em;
}

.warning {
    font-size:4em
}

.tier11 {
    font-size:1.5em
}